.cards {
  color: var(--white);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  /* justify-content: center;
  gap: 2rem;
  flex-wrap: wrap; */
  margin: auto;
  max-width: 977px;
  margin-bottom: 4rem;
}

/* .card {
  width: 300px;
} */

.card figure img {
  width: 100%;
}

.card .text {
  margin-bottom: 2rem;
}

.card .btn {
  background-color: var(--red);
  border-radius: 5px;
  border: none;
  color: var(--white);
  padding: 5px 10px;
}

@media screen and (max-width: 1020px) {
  .cards {
    grid-template-columns: 1fr 1fr;
    max-width: 700px;
  }
}

@media screen and (max-width: 750px) {
  .cards {
    grid-template-columns: 1fr;
    max-width: 320px;
  }
}