* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 100;
}

.menu {
  padding: 20px;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

header {
  background-color: rgb(55, 178, 55);
}

.poster {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

h1 {
  font-size: 80px;
  text-align: center;
  padding: 20px;
}

h2 {
  padding: 15px 0 10px;
  margin: 0;
  color: #fff;
}

.ninjahead {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.content {
  background-color: #000;
}

.collection {
  padding: 100px 40px 95px;
  margin: 0 auto;
  display: grid;
  background-color: #000;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 2rem;
  color: #fff;
}

.profession__image {
  max-width: 100%;
  object-fit: cover;
  display: block;
}

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  background-color: rgba(77, 76, 77, 0.8);
  color: #fff;
  padding: 50px;
}

.button {
  background-color: #aa040a;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.description {
  padding-bottom: 20px;
}

.background {
  background-color: #fff;
  color: #000;
  padding: 0 20px 20px;
}

ul {
  list-style-type: none;
}

h3 {
  padding: 10px 0 10px;
}

.links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

a:link,
a:visited {
  text-decoration: none;
  padding-bottom: 1px;
  color: #000;
  cursor: pointer;
  width: 100%;
}

a:hover,
a:active {
  color: rgb(45, 136, 35);
}

.divided {
  display: grid;
  background-color: #000;
  gap: 30px;
  grid-template-columns: repeat(2, 450px);
}

.divided_header {
  color: #000;
}

@media only screen and (min-width: 1260px) {
  .divided {
    grid-column: 1/-1;
    margin: 0 auto;
  }
}
